.header img {
  width: 10rem;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  background-color: rgb(212, 212, 134);
  border: 3px solid red;
}
.header .login {
  display: flex;
  align-items: center;
}
.header #icon {
  margin-right: 0.5rem;
}
.header .link {
  margin-right: 0.5rem;
}
.header .ml-2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
